body{
    background: rgba(0, 0, 0,1);
    color: rgb(255, 255, 255);
    width: 1fr;
    padding: 50px 7vw;
    margin:  25px auto;
    border-radius: 15px;
    font-family: 'Geist Mono', 'Gill Sans', Arial, Helvetica, sans-serif;
    text-align: left;
}

#headshot{
    border-radius: 50px;
    height: 15vH;
}

.doto-title {
    line-height: 5px;
    font-size: 50px;
    font-family: "Doto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "ROND" 100;
}

#subtitle{
    font-size: 2vh;
    color: gray;
    font-family: 'Geist Mono';
}

.about-link {
    font-family: 'Geist Mono';
    color: steelblue;
    font-size: 20px;
}

#heading-line {
    height: 5px;
    background: #fff url(gradient1.jpg) scroll center;
    margin-top: 10px;
    margin-bottom: 50px;
    border: 0px;
}

.display-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.img-wrapper {
    position: relative;
    overflow: hidden;
    margin: 5px;
    border-radius: 10px;
}

.img-wrapper > img {
    display: block;
    width: 100%;
    aspect-ratio: 5 / 3;
    object-fit: cover;
    object-position: center;    
}

.img-wrapper > .img-text {
    position: absolute;
    inset: 0;
    font-size: 2rem;
    top: -35px;
    left: 0;
    bottom: -35px;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    color: white;
}

.img-wrapper > img,
.img-wrapper > .img-text {
    transition: 200ms ease-in-out;
}

.img-wrapper:hover > .img-text {
    opacity: 1;
}

.img-wrapper:hover > img {
    filter: blur(5px);
    transform: scale(1.1);
}