/* src/components/About.css */
/* .about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 4rem 2rem;
  background-color: #f9f9f9;
} */

.about-section {
  min-height: 100vh; /* This makes the section at least one full screen high */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* This centers the content vertically */
  gap: 1rem;
  padding: 4rem 2rem;
  background-color: rgb(34, 40, 51)
}

.about-content {
  max-width: 100%;
  text-align: right;
  color: rgb(73, 105, 135);
  padding: 0 1rem;
}

.about-content p {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.about-content h2 {
  color: rgb(73, 105, 135);
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.profile-photo {
  width: 500px;
  height: 500px;
  border-radius: 20%;
  object-fit: cover;
  /*  border: 10px solid rgb(90, 128, 163); */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (min-width: 1000px) {
  .about-section {
    flex-direction: row;
    justify-content: center;
    padding: 4rem 20rem;
  }

  .about-content{
    padding: 2rem;
  }
}