/* src/components/ProjectModal.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
  animation: fadeIn 0.3s ease;
}

.modal-content {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  
  width: 1000px;
  max-width: 90%;
  max-height: 90%;
  overflow-y: auto;
  position: relative;
  
  /* Change the layout to a row */
  display: flex;
  flex-direction: row;
  align-items: flex-start; /* Aligns items to the top */
  gap: 2rem; /* Adds space between the image and the text */

  animation: slideUp 0.3s ease;
}

/* For smaller screens, you might want to adjust the width */
@media (max-width: 768px) {
  .modal-content {
    width: 95%;
  }
}

.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: #333;
}

.modal-image {
  max-width: 100%;
  max-height: 40vh;
  object-fit: contain;
  margin-bottom: 1rem;
  border-radius: 8px;
}

.modal-text {
  text-align: left;
}

.modal-text h2 {
  margin-top: 0;
}

.modal-links a {
  margin: 0 1rem;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideUp {
  from { transform: translateY(50px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}